.mls-body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;

    --bg: #fff;
    --primary: rgba(0,0,0,0.87);
    --secondary: rgba(0, 0, 0, 0.54);

    background: var(--bg);
    color: var(--primary);
}

@media (prefers-color-scheme: dark) {
    .mls-body {
        --bg: #292A2D;
        --primary: rgba(255, 255, 255, 0.9);
        --secondary: rgba(255, 255, 255, 0.6);
    }
}