:root {
  --bg: #fdfdfd;
  --text-primary: #333;
  --text-secondary: #666;
  --divider: #d8d8d8;

  --list-focus-bg: #D8EAFF;
  --list-dev-bg: #FFF3B1;
  --list-dev-focus-bg: #FFE865;

  --img-url-delete: url(/img/icon-bin.svg);
  --img-url-option: url(/img/icon-cog.svg);
  --img-url-open: url(/img/icon-open.svg);

  --input-bg: rgba(0, 0, 0, 0.08);
  --search-icon-url: url("../img/search.svg");
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: -apple-system, sans-serif;
  width: 320px;
  height: 500px;
  max-height: 90%;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  margin: 0;
}

.hidden {
  display: none;
}

.group {
  display: none;
  margin-bottom: 1.2rem;
}

.group.show {
  display: block;
}

.header {
  padding: 10px 0;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid var(--divider); */
  cursor: default;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.sub-title {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: all ease-out 0.2s;

}

.list li:hover,
.list li:focus {
  background-color: var(--list-focus-bg);
}

.list li.disabled {
  filter: saturate(0);
}

.list li.development {
  background-color: var(--list-dev-bg);
}

.list li.development:hover,
.list li.development:focus {
  background-color: var(--list-dev-focus-bg);
}

.list-label {
  flex-grow: 1;
  padding-left: 2.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  -webkit-user-select: none;
  color: var(--text-primary);
}

.list-action {
  display: flex;
  justify-content: space-between;
}

.label-img {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  margin-right: 5px;
}

.action-icon {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity ease-out 0.15s;
}

.delete {
  background-image: var(--img-url-delete);
  visibility: hidden;
}

.option {
  background-image: var(--img-url-option);
  opacity: 0.8;
}

.action-icon.placehold {
  cursor: default;
}

.open {
  background-image: var(--img-url-open);
}

.list li:hover .delete,
.list li:focus .delete {
  visibility: visible;
  opacity: 0.8;
}

.option:hover,
.option:focus,
.delete:hover,
.delete:focus {
  opacity: 1 !important;
}

.control-indicator {
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.control input:focus~.control-indicator {
  box-shadow: none;
}

.search {
  margin: 20px 10px 5px;
}

.search__textfield {
  position: relative;
  background: var(--input-bg);
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 14px;
  overflow: hidden;
}

.search__textfield:focus {}

.search__textfield .input {
  padding: 0.6rem 0.4rem;
  padding-left: 36px;
  border: 0;
  background: transparent;
  width: 100%;
  color: var(--text-primary);
  transition: background 0.18s ease-out;
  will-change: background;
}

.input:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.06);
}

.search__textfield__leading-icon {
  position: absolute;
  left: 8px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: var(--search-icon-url);
  opacity: 0.6;
  transition: opacity 0.12s;
  will-change: opacity;
}

.input:focus~.search__textfield__leading-icon {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #202124;
    --text-primary: #dedede;
    --text-secondary: #aeaeae;
    --divider: #3c3c3c;

    --list-focus-bg: #323542;
    --list-dev-bg: #504636;
    --list-dev-focus-bg: #645641;

    --input-bg: #292c2f;
    --search-icon-url: url("../img/search-light.svg");
  }
}