@use './khroma/body';
@use './khroma/textfield';


:root {
  --list-focus-bg: #D8EAFF;
  --list-dev-bg: #FFF3B1;
  --list-dev-focus-bg: #FFE865;
  --list-actions-item-fill: #606367;

  // --textfield-bg: #F1F3F4;
  // --textfield-text: rgba(0, 0, 0, 0.35);
  // --textfield-text-focus: rgba(0, 0, 0, 0.8);
  // --textfield-outline-focus: #a9c3f7;
  --checkbox-stroke: rgba(0, 0, 0, 0.2);
  --checkbox-checked-container: #1A73E8;
  --checkbox-focus-stroke: rgba(0,0,0,0.36);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: -apple-system, sans-serif;
  width: 320px;
  max-height: 500px;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  margin: 0;
}

.hidden {
  display: none;
}

.group {
  display: none;
  margin-bottom: 1.2rem;

  &.show {
    display: block;
  }
}

.header {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.sub-title {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search {
  margin: 20px 16px 12px;

  .hide-search & {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --list-focus-bg: #323542;
    --list-dev-bg: #504636;
    --list-dev-focus-bg: #645641;
    --checkbox-stroke: rgba(255, 255, 255, 0.3);

    // --textfield-bg: #202124;
    // --textfield-text: rgba(255, 255, 255, 0.45);
    // --textfield-text-focus: rgba(255, 255, 255, 0.8);
    // --textfield-outline-focus: #396286;
  }
}